/* src/components/Modal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.80);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: #020617;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    padding: 21px;
    margin: 50px;
    border-radius: 4px;
    /* max-width: 400px; */
    width: auto;
    height: 60vh;
    line-height: 40px;
    overflow-y: scroll;
    position: relative;
    z-index: 9999;
  }
  
  .modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    background: transparent;
    border: none;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
  }
  