@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  max-width: 100%;
  width: 100%;
}
h1, h2 , h3{
  font-weight: 400;
  font-style: normal;
  font-family: "Montserrat", sans-serif;
}
p{
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
}

/* navbar section  */
.nav_link{
  position: relative;
}
.nav_link::before{
  content: '';
  position: absolute;
  /* background-colorgb(29, 20, 20)ite; */
  height: 1px;
  width: 50px;
  top: 30px;
}
/* navbar section ending */


/* hero section   */

.hero{
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
  background-position: center;
}
/* hero section ending   */


/* how it works  */
.howItwork .textArea{
  background: linear-gradient( rgba(0, 8, 65 , 0.78)  , rgba(0, 8, 65 , 1) ) , url('../src/assets/howItwork.avif')  ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
}
/* how it works ending */
.note{
  /* transform: translateY(5em); */
  position: relative;
  z-index: 1;
}
.note ul li , .note p{
  position: relative;
  z-index: 999;
  color: #fff;
}
.noteOverlay{
  position: absolute;
  inset: 0;
  top: -1em;
  bottom: 2em;
  min-width: 50%;
  left: 2em;
  background-color: #020617;
}
/* pricing and rate  */
.price .gridContent{
  position: relative;
  z-index: -1;
}
.price .gridContent p{
  position: absolute;
  top: 0;
  right: 0;
  background-color: #020617;
  width: auto;
  color: #fff;
}
/* pricing and rate ending */


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* service section  */
.service-title {
  /* Limit the title to one line */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* Adds ellipsis for overflowed text */
  max-width: 100%; /* Ensure it doesn't exceed container width */
}
button.slick-arrow.slick-next{
  padding: 10px;
  color: #fff;
  font-weight: 700;
  font-size: 13px;
  background-color: rgba(2, 6, 23, 0.70);
  right: -0.2%;
  width: auto;
  height: auto;
}
button.slick-arrow.slick-prev{
  padding: 10px;
  color: #ffffff;
  font-weight: 700;
  font-size: 13px;
  background-color: rgba(2, 6, 23, 0.70);
  left: -1%;
  width: auto;
  height: auto;
  z-index: 999;
}
.slick-slide{
  height: 550px!important;
}
.slick-slide {
  display: flex;
  justify-content: center;
}


/* loading page  */
.spinner-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}
.spinner-container h2{
  font-size: 50px;
  font-weight: 600;
}
/* loading page ending */

/* mobile view styles */
.navMenu{
  position: absolute;
  width: 100%;
  height: 100vh;
  text-align: center;
  padding-top: 3em;
  padding-left: 33px;
  padding-right: 33px;
  transition: 0.9s all ease-in;
  z-index: 1;
}
.navMenu a{
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 600;
  position: relative;
  border-bottom: 1px solid white;
  padding: 10px;
}


/* article page  */
.article-card{
  background-color: #020617;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  margin: 20px;
  padding: 60px;
}
/* article page ending */

@media(min-width: 992px) {
  .service .slick-list{
    height: 110vh;
    margin-top: 3em;
  }
  .service .slick-list .gridContent{
    border: 5px solid #020617;
    padding: 20px;
  }
}

@media(max-width: 768px) {
  .header{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1;
  }
  .slick-list{
    height: 80vh;
  }
 .service .slick-list{
    height: 80vh;
  }

}


/* mobile view styles ending*/